{% extends 'base.html'%}
{% block code %}
<center>
   <h1><u><b>ABOUT</b></u></h1>
</center>

<center >
   <img src="/static/images/social-media-mining.jpg" style="height: 500px;">
   <p></p>
   informal conversations on social media (e.g., Twitter, Facebook) 
   shed light into their educational experiences—opinions, feelings, 
   and concerns about the learning process. Data from such uninstrumented 
   environments can provide valuable knowledge to inform student learning. 
   Analyzing such data, however, can be challenging. The complexity of students’ 
   experiences reflected from social media content requires human interpretation.
    However, the growing scale of data demands automatic data analysis techniques.
     In this paper, we developed a workflow to integrate both qualitative analysis and 
     large-scale data mining techniques.
</p></center>
                                   
{% endblock %}

