{% extends 'base2.html'%}
{% block code %}

<center><h1><u><b>LOAD DATASET</b></u></h1></center>
<h1 style="color: white;">.</h1>
<h1 style="color: white;">.</h1>
<h1 style="color: white;">.</h1>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>
<form action=""  enctype="multipart/form-data" method="post" style="background-color:#33475b">
{% csrf_token %}
<center>
<div class="card">
    <center>
        <label for="myfile" style="color: white;">Select files:</label>
        <input type="file"  id="myfile" name="myfile" multiple style="color: white;"><br><br>
     
     <button type="submit" class="btn btn-primary" >Submit</button>
     </center>
             {% if res %}
              <center><h3>{{res}}</h3></center>
              {% endif %}
     <div class="container">
        {% csrf_token %}
        <div class="providing_section layout_padding">           
        </div>
<!--Login--> 
<div class="container py-5">

  </div>
</center>
</div>
</form>


{% endblock %}

