{% extends 'base2.html'%}
{% block code %}
<style>
  .container {
  position: relative;
  text-align: center;
  color: white;
}

  .top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -750%);
}
</style>
<!-- <div class="container"> -->
       <center><figure><img src="/static/images/uh1.jpg" style="height: 700px; width: 1500px; border-radius: 30px;" alt="#"/></figure></center>      
       <div class="centered"
      <h1><h1 style="color: black;"><b><u> SOCIAL MEDIA DATA THROUGH DATA MINING</u></b></h1></h1>
</div>              
{% endblock %}

